local mem_widget   = require('widgets.mem_widget')
local fs_widget    = require('widgets.fs_widget')
local cpu_widget   = require('widgets.cpu_widget')
local pulse_widget = require('widgets.pulse_widget')
local net_widget   = require('widgets.net_widget')
local bat_widget   = require('widgets.battery_widget')
local temp_widget  = require('widgets.core_temp_widget')

local bg         = wibox.container.background
local margin     = wibox.container.margin
local widget     = wibox.widget
local horizontal = wibox.layout.align.horizontal

local widgets = {
  cpu_widget(2),
  mem_widget(2),
  fs_widget('/', 2),
  fs_widget('/home', 2),
  pulse_widget(2),
  temp_widget(2),
  widget { mykeyboardlayout, layout = horizontal },
  widget { wibox.widget.systray(), layout = horizontal },
  widget { mytextclock, layout = horizontal },
}

return widgets
